doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Francisco Javier Donadío

        link(rel='icon', type='image/x-icon', href='assets/img/dev.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Francisco Javier Donadío
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    //- li.nav-item
                    //-     a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Francisco Javier 
                        span.text-primary Donadío
                    .subheading.mb-5
                        | San Miguel de Tucumán - Tucumán - Argentina - CP 4000 · +54 (381) 3047457 · 
                        a(href='mailto:javier.prog@gmail.com') javier.prog@gmail.com
                    p.lead.mb-5
                        | I am Front-end web and mobile/hybrid developer with more than 5 years of experience working on multiple projects using 
                        | Ionic and Angular frameworks.
                        | My goals are always deliver a clean, scaling and robust code to offer the best user experience in any application.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/javier-donadio/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/JDonadio')
                            i.fab.fa-github
                        //- a.social-icon(href='#')
                        //-     i.fab.fa-twitter
                        //- a.social-icon(href='#')
                        //-     i.fab.fa-facebook-f

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Web/UI Developer | Tech Lead
                            .subheading.mb-3 Carnival Cruise Line (CCL)
                            p
                                | Development and maintenance of web and mobile hybrid applications using Ionic 4 and angular 7.
                                | Pixels: Digital photos management system.
                                | Sky Zone: Management system for recreational events.

                        .flex-shrink-0
                            span.text-primary February 2019 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Web and Mobile Developer
                            .subheading.mb-3 Tengo Free Studio
                            p
                                | Development and maintenance of web and mobile hybrid applications. I have worked on several projects such as: Tucuman Taxi mobile app, Emilio Luque (ecommerce) mobile app, Sabadell Bank web app, Architect’s projects management system web app and mobile app, Alperovich Concessionaire Cars admin system web app, different particular projects.
                        .flex-shrink-0
                            span.text-primary February 2018 - December 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Web and Mobile Developer - Support Lead, Developer and Analyst
                            .subheading.mb-3 BitPay
                            p
                                | Development and maintenance of Copay and BitPay Wallet (bitcoin wallets), and several web tools for backuping, bitcoin address translation, etc. Support manager through GitHub, Zendesk, Intercom and Slack.
                        .flex-shrink-0
                            span.text-primary August 2015 - February 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Developer - Analyst - Coach
                            .subheading.mb-3 Everis
                            p
                                | Development, maintenance and training of web projects for the next clients and technologies:
                                | Popular Bank: BTT Technology
                                | Barclays Bank: MCDP Technology
                                | Santander Group Banks: Banksphere Technology
                                | Telefónica: MQI Technology

                        .flex-shrink-0
                            span.text-primary September 2012 - August 2015

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Software Developer - Network Admin
                            .subheading.mb-3 Ministerio de Educación
                            p
                                | Administration, support and maintenance of Wi-Fi networks for "Conectar Igualdad" government program.

                        .flex-shrink-0
                            span.text-primary December 2010 - July 2011

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Universidad Nacional de Tucumán
                            .subheading.mb-5 Licenciatura en Informática. (Latest year pending)

                            h3.mb-0 Universidad Nacional de Tucumán
                            .subheading.mb-5 Programador Universitario. (Finished)

                        .flex-shrink-0
                            span.text-primary January 2008 - December 2013

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Escuela Técnica Nº 2
                            .subheading.mb-3 Automotive Technician

                        .flex-shrink-0
                            span.text-primary January 1999 - December 2005

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-angular
                        //- li.list-inline-item
                        //-     i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-node
                        li.list-inline-item
                            i.fab.fa-sass
                        li.list-inline-item
                            i.fab.fa-android
                        li.list-inline-item
                            i.fab.fa-apple
                        li.list-inline-item
                            i.fab.fa-git
                        li.list-inline-item
                            i.fab.fa-github
                        li.list-inline-item
                            i.fab.fa-bootstrap
                        //- li.list-inline-item
                        //-     i.fab.fa-less
                        li.list-inline-item
                            i.fab.fa-wordpress
                        li.list-inline-item
                            i.fab.fa-gulp
                        li.list-inline-item
                            i.fab.fa-grunt
                        li.list-inline-item
                            i.fab.fa-npm
                        li.list-inline-item
                            i.fab.fa-aws
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Mobile-First, Responsive Design
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Browser Testing & Debugging
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Functional Teams
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development & Scrum

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | I am passionate about soccer! I love to play with my friends in my spare time and then have a barbecue (a classic). I was lucky to be able to travel to Russia and experience the 2018 World Cup, a dream come true!
                    p.mb-0
                        | When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.

            hr.m-0

            // Awards
            //- section#awards.resume-section
            //-     .resume-section-content
            //-         h2.mb-5 Awards & Certifications
            //-         ul.fa-ul.mb-0
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | Google Analytics Certified Developer
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | Mobile Web Specialist - Google Certification
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 1
            //-                 sup st 
            //-                 | Place - University of Colorado Boulder - Emerging Tech Competition 2009
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 1
            //-                 sup st 
            //-                 | Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 2
            //-                 sup nd 
            //-                 | Place - University of Colorado Boulder - Emerging Tech Competition 2008
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 1
            //-                 sup st 
            //-                 | Place - James Buchanan High School - Hackathon 2006
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 3
            //-                 sup rd 
            //-                 | Place - James Buchanan High School - Hackathon 2005

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        <!-- The core Firebase JS SDK is always required and must be listed first -->
        script(src="/__/firebase/7.16.0/firebase-app.js")

        <!-- Initialize Firebase -->
        script(src="/__/firebase/init.js")